Don't return 404 when the post body contains in invalid ID.

I'm going to be super pedantic here.

The HTTP RFC says:

> The 404 (Not Found) status code indicates that the origin server did
> not find a current representation for the target resource or is not
> willing to disclose that one exists.

And it also defines what a resource is:

> The target of an HTTP request is called a "resource".  HTTP does not
> limit the nature of a resource; it merely defines an interface that
> might be used to interact with resources.  Each resource is
> identified by a Uniform Resource Identifier (URI), as described in
> [Section 2.7 of [RFC7230]](https://datatracker.ietf.org/doc/html/rfc7230#section-2.7).

When it is the body of a request that contains an invalid ID, returning 404 may not be conforming to the HTTP standard. Let's fix it just to be sure.

https://github.com/MinecraftAtHome/clusterizer/blob/master/server/src/result.rs